#nav-bar{
  position: fixed;
  color:white;
  top:10px;
  right:10px;
}
.nav-link {
  text-decoration:none;
  margin-left:10px;
  color:white;
  padding-top:10px;
}
body{
    background: linear-gradient(180deg, #152238 0%, #2E7287 70%, #EDC9AF 100%) fixed;
    height:100%;
}